<nav>
    <ul id="main-menu">
        <li>
            <a href="http://localhost:4541/Applications/User/index.html#/all-books">See all books</a>
        </li>
        <li>
            <a href="http://localhost:4541/Applications/User/index.html#/search-by-title">Search by title</a>
        </li>
        <li>
            <a href="http://localhost:4541/Applications/User/index.html#/search-by-date">Search by date</a>
        </li>
        <li>

            <a href="http://localhost:4541/Applications/User/index.html#/all-authors">See all authors</a>
        </li>
        <li>
            <a href="http://localhost:4541/Applications/User/index.html#/my-comments">See your comments</a>
        </li>
    </ul>
</nav>

<script>
    $(function(){
        $("#main-menu").kendoMenu({ orientation: "horizontal" });
    })
</script>
