<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Publish Date</th>
            <th>Cover Url</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-template="row-template" data-bind="source: books">

    </tbody>

</table>
<br /><br /><a class="gold-button" href="http://gold-bookstore.apphb.com/Applications/Admin/index.html#/logged">Return to menu</a>

<script id="list-template" type="text/x-kendo-template">
    <li data-bind = "text: this"></li>
</script>

<script id="row-template" type="text/x-kendo-template">
    <tr>
        <td data-bind="text: id"></td>
        <td data-bind="text: title"></td>
        <td data-bind="text: publishDate"></td>
        <td data-bind="text: coverUrl"></td>
        <td><button data-bind="attr: { book-id: id }, events: { click: showDetails } ">See details</button></td>
    </tr>
</script>
